:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --text-light: #ecf0f1;
    --light-bg: #f9f9f9;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* Header Styles */
.navbar {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.navbar.scrolled {
    background: rgba(9,47,86,0.73);
    backdrop-filter: blur(10px);
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

.navbar-nav .nav-link {
    color: var(--text-light) !important;
    font-weight: 500;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #000 !important;
    transform: translateY(-2px);
    text-decoration: none;
}


.btn-login {
    background: transparent;
    border: 2px solid var(--text-light);
    color: var(--text-light);
    padding: 8px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background: var(--text-light);
    color: var(--primary-color);
}

.dropdown-menu{
    display: none;
}
/* Footer */
.footer {
    background: var(--primary-color);
    color: var(--text-light);
    padding: 30px 0;
    width: 100vw;
}